@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

.App {
  /* height:100% !important; */
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: "Oswald";
  /* overflow-y: scroll;
  overflow-x: hidden; */
}
